<div class="container" style="text-align:center;">

	<div id="instructions" style="display: inline-block; text-align:left;">
		<h2>How to play:</h2>
		<h4> - Each play costs 30 credits</h4>
		<h4> - 3 or more identical bars, sevens, diamonds, cherries, or bells in a line rewards credits</h4>
		<h4> - 3 or more scattered clovers rewards credits</h4>
	</div>

	<br />
	<br />
	<div ng-if="credits < 30"><h1>Not enough credits<h1></div>
	<div> <h1>Credits: </h1><h1 id="counter">1000</h1></br>

	<button data-ng-click="playSlot()" type="button" class="btn btn-primary btn-circle btn-xl">Play <p style="font-size:12px">30 credits<p></button>

	<br />
	<br />

	<table style='border:1px solid black; text-align:center; margin: 0px auto;'>
		<tr> 
			<td id="0" style='border:1px solid black;'> </td>
			<td id="1" style='border:1px solid black;'> </td>
			<td id="2" style='border:1px solid black;'> </td>
			<td id="3" style='border:1px solid black;'> </td>
			<td id="4" style='border:1px solid black;'> </td>
		</tr> 
		<tr> 
			<td id="5" style='border:1px solid black;'> </td>
			<td id="6" style='border:1px solid black;'> </td>
			<td id="7" style='border:1px solid black;'> </td>
			<td id="8" style='border:1px solid black;'> </td>
			<td id="9" style='border:1px solid black;'> </td>
		</tr> 
		<tr> 
			<td id="10" style='border:1px solid black;'> </td>
			<td id="11" style='border:1px solid black;'> </td>
			<td id="12" style='border:1px solid black;'> </td>
			<td id="13" style='border:1px solid black;'> </td>
			<td id="14" style='border:1px solid black;'> </td>
		</tr> 
	</table>

	<br />


	<h1 id="score"></h1>

</div>

